.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  background-color: #282c34;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: fixed;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-shell {
  background: white;
  width: 100%;
  /* padding-top: 2vh; */
  max-height: 100vh;
  overflow: hidden;
}

.map-frame {
  width: 100%;
  height: 100%;
}
